@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #6a89af;
	font-family: 'Inter';
	line-height: 1.5;
}

.overlay {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.window {
	background: #bdcbdc;
	padding: 30px;
	border: 2px solid;
	border-radius: 8px;
	width: 400px;
	height: 680px;
}

.header {
	font-size: 30px;
}

.auth {
	font-size: 15px;
}

.link {
	text-decoration: none;
}
