@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #e3f0ff;
  font-family: sans-serif;
  line-height: 1.5;
}

body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse, transparent 60%, rgba(0, 0, 50, 0.05) 100%);
  pointer-events: none;
  z-index: 1;
}

.link {
  text-decoration: none;
  color: blue;
}

.link:active {
  color: #004480;
}

.header {
  font-size: 40px;
}

.auth {
  font-size: 20px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-window {
  background: #e2efff;
  padding: 30px;
  border: 2px, solid;
  border-radius: 8px;
  width: 440px;
  height: 560px;
  max-width: 90%;
}

.btn {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	font-family: 'Inter';
	color: black;
	background-color: white;
	border: 1px solid;
	border-radius: 5px;
	font-size: 15px;
}

.btn:hover {
	background-color: #6484ab;
}
